.productDetailsPage {
  display: flex;
  justify-content: center;
  width: 100%;
}

.productDetailsContainer {
  max-width: 1440px;
  width: 100%;
  padding: 26px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.productInformation {
  display: flex;
  gap: 20px;
}

.imageContainer img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.productDetails h1 {
  text-transform: uppercase;
  font-family: Poppins;
  color: #432010;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productDetails p {
  color: #666;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.productDetails h3 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}

.productDetails button {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  background: #c7a17a;
  padding: 9.5px 34px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.productDetails button:hover {
  background: #856443;
}

.productSpecifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.productSpecifications h3 {
  text-transform: uppercase;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.productSpecifications table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e2dfdd;
}

.productSpecifications th,
.productSpecifications td {
  padding: 10px 15px;
  color: #6c6c6c;
  border-bottom: 1px solid #e2dfdd;
  text-align: left;
}

.productSpecifications th {
  background-color: #f2f2f2;
}

.productSpecifications td:nth-child(odd) {
  background-color: #f9f9f9;
}

.productDescription {
  color: #666;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 1280px) {
  .productDetailsContainer {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 768px) {
  .productDetailsContainer {
    padding: 26px 20px;
  }
  .productInformation {
    flex-direction: column;
    align-items: flex-start;
  }

  .productInformation p {
    text-align: left;
  }

  .productDetails {
    gap: 20px;
  }

  .productDescription p {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .productDetailsContainer {
    padding: 26px 10px;
    gap: 20px;
  }

  .productDetails {
    gap: 20px;
  }

  .productDetails h1 {
    font-size: 21px;
  }

  .productDetails p {
    font-size: 11px;
  }

  .productDetails h3 {
    font-size: 17px;
  }

  .productDetails button {
    padding: 9.5px 20px;
  }

  .productSpecifications h3 {
    font-size: 17px;
  }

  .productDescription {
    font-size: 12px;
  }
}
