.showOrderDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.showOrderDetailsHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  background: #fff;
}

.showOrderDetailsHeader h1 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.showOrderDetailsHeader h3 {
  color: #0000007a;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.orderInformation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.orderProducts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 30px;
}

.orderProducts h2 {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding: 8px;
  width: 160px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.productDetails a {
  text-decoration: none;
}

.productDetails img {
  width: 150px;
}

.productCardInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.productCardInformation h2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.productCardInformation p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productCardInformation h3 {
  color: #c7a17a;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productCardInformation h4 {
  color: #a7a7a7;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shippingDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 30px;
}

.shippingDetails h1 {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.shippingDetails ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shippingDetails ul li {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shippingDetails ul li span {
  color: #0000009f;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.orderTotal {
  display: flex;
  justify-content: space-around;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: #fff;
  padding: 30px;
}

.orderTotal span {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
