.accountServices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 37%;
}

.accountServicesHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 40px 40px 40px 10px;
  background: #fff;
}

.accountServicesHeader img {
  max-width: 100px;
}

.accountServicesHeaderTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accountServicesHeaderTitle h2,
h1 {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services a {
  text-decoration: none;
}

.services li {
  padding: 20px 10px;
  list-style: none;
  background: #fff;
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.services li:hover {
  text-decoration: underline;
}

.signOutButtonForSmallDevices {
  display: none;
}

.iconSignOut {
  transform: rotateZ(-90deg);
}

@media screen and (max-width: 991px) {
  .accountServices {
    width: 100%;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .signOutButtonForSmallDevices {
    padding: 20px 10px;
    border: 0;
    background: #fff;
    color: #432010;
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
}

@media screen and (max-width: 479px) {
  .accountServicesHeaderTitle h2,
  h1 {
    font-size: 20px;
  }
  .services li {
    font-size: 17px;
  }

  .signOutButtonForSmallDevices {
    font-size: 17px;
  }
}
