.tasteCoffe {
  background: url("/public/assets/media/taste.png"),
    lightgray 50% / cover no-repeat;
  height: 450px;
}

.background {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 77px;
}

.buttonOrder {
  padding: 24px 32px;
  border-radius: 20px;
  border: 3px solid #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.buttonOrder:hover {
  color: #000;
  background: #fff;
  animation: buttonAnimation 1s ease-out;
}

@keyframes buttonAnimation {
  from {
    background: transparent;
  }
  to {
    background: #fff;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.title h1 {
  color: #fff;
  font-family: Bree Serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title h2 {
  color: #fff;
  font-family: League Spartan;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
