.popularProducts {
  display: flex;
  justify-content: center;
  width: 100%;
}

.popularProductsContainer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
  padding: 80px;
}

.popularProductsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.popularProductsTitle h1 {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
}

.aboutFlavours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutFlavours p {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.popularProductsInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .popularProductsContainer {
    padding: 50px;
  }

  .popularProductsInfo {
    justify-content: center;
    gap: 215px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 991px) {
  .popularProductsInfo {
    gap: 30px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 768px) {
 .popularProductsContainer {
  padding: 20px;
}
}

@media screen and (max-width: 479px) {
  .popularProductsContainer {
    padding: 10px;
    gap: 30px;
  }

  .popularProductsTitle h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
