.cartTotal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px 30px;
  width: 28%;
  position: sticky;
}

.cartTotal h1 {
  color: #432010;
  font-family: Poppins;
  text-align: left;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  text-transform: uppercase;
}

.cartTotal h3 {
  color: #432010;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cartTotal h3 p {
  color: #432010;
  font-size: 15px;
}

.cartTotal h3 span {
  color: #a29696;
  font-size: 13px;
}

.cartTotal button {
  background: #018849;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.payment h4 {
  color: #432010;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.imgCards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 5px;
}

.imgCards img {
  width: 38px;
}

.cartTotal button:hover {
  background-color: #006637;
}

@media screen and (max-width: 1280px) {
  .cartTotal {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cartTotal {
    padding: 20px;
    gap: 20px;
  }

  .cartTotal h1 {
    font-size: 24px;
  }

  .cartTotal h3 {
    font-size: 16px;
  }

  .cartTotal h3 p {
    font-size: 13px;
  }

  .cartTotal h3 span {
    color: #a29696;
    font-size: 13px;
  }

  .cartTotal button {
    font-size: 15px;
    padding: 6px;
  }

  .payment h4 {
    font-size: 16px;
  }
}


