.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid rgba(221, 183, 114, 0.2);
  border-radius: 10px 10px 0 0;
  max-width: 250px;
}

.productCard a {
  text-decoration: none;
}

.productCard img {
  max-width: 100%;
}

.productCardInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgba(221, 183, 114, 0.2);
  padding: 5px 0;
}

.productCardInformation h2 {
  color: #432010;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.productCardInformation h3 {
  color: #432010;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.productCardInformation h4 {
  color: #a7a7a7;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttonActions {
  display: flex;
  gap: 20px;
  padding: 8px;
}

.buttonActions button {
  border: 0;
  background: none;
  cursor: pointer;
}

.buttonActions .productCardIconCart {
  font-size: 25px;
  color: #432010;
}

.favoriteButton {
  background: none;
}

.productCardIconFavorite {
  font-size: 25px;
  color: #432010;
  transition: color 0.3s ease;
}

.favoriteButton:hover .productCardIconFavoriteSolid {
  display: block;
}

.favoriteButton:hover .productCardIconFavorite {
  display: none;
}

.productCardIconFavoriteSolid {
  display: none;
  color: #000;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .productCard {
    max-width: 200px;
  }

  .productCardInformation {
    gap: 15px;
  }

  .productCardInformation h4 {
    font-size: 13px;
  }

  .productCardInformation h2 {
    font-size: 15px;
    font-weight: 600;
  }

  .productCardInformation h3 {
    font-size: 14px;
  }

  .buttonActions .productCardIconCart,
  .productCardIconFavorite,
  .productCardIconFavoriteSolid {
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .productCard {
    max-width: 150px;
  }

  .productCardInformation {
    gap: 10px;
  }

  .buttonActions .productCardIconCart,
  .productCardIconFavorite,
  .productCardIconFavoriteSolid {
    font-size: 18px;
  }

  .productCardInformation h4 {
    font-size: 11px;
  }

  .productCardInformation h2 {
    font-size: 13px;
    font-weight: 500;
  }

  .productCardInformation h3 {
    font-size: 12px;
  }
}
