.confirmation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.confirmationContainer {
  max-width: 1440px;
  width: 100%;
  padding: 26px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.headerConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
  border-bottom: 2px solid #432010;
}

.headerConfirmation h1 {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.headerConfirmation h1 span {
  color: #432010;
}

.orderDetailsContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderDetails h1 {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.orderDetails h3 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: end;
}

.productDetails {
  display: flex;
  gap: 10px;
  align-items: center;
}

.productDetails img {
  width: 150px;
}

.aboutProduct {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.aboutProduct h3 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutProduct p {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userDetails h1 {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.userDetails ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userDetails ul li {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.userDetails ul li span {
  color: #0000009f;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 1280px) {
  .confirmationContainer {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 991px) {
  .confirmationContainer {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 768px) {
  .confirmationContainer {
    padding: 26px 20px;
  }

  .headerConfirmation h1 {
    font-size: 25px;
  }

  .orderDetailsContainer {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .orderDetails {
    border-bottom: 1px solid #432010;
    padding-bottom: 20px;
  }

  .orderDetails h1 {
    font-size: 22px;
  }

  .userDetails h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .confirmationContainer {
    padding: 12px 10px;
  }
}
