.userModal {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 40px;
  right: -14px;
  z-index: 2;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.5s ease-in-out;
}

.userModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: #432010;
}

.userModalHeader h1 {
  color: #000;
  font-size: 20px;
}

.userModalHeader h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.userModalHeader a {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.userModalHeader a:hover {
  text-decoration-line: revert-layer;
}

.closeModal {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.closeModal:hover {
  color: red;
}

.userServiceAccount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background: #f8f8f8;
}

.userServiceAccount a {
  color: #432010;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.userServiceAccount a:hover {
  color: #0770cf;
}

.signOutLink {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.signOutLink button {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  background: none;
}

.signOutLink button:hover {
  text-decoration-line: underline;
}

.authenticationLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.authenticationLinks h1 {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .userModal {
    width: 300px;
  }

  .userModalHeader {
    padding: 15px 10px;
  }

  .userModalHeader h1 {
    font-size: 16px;
  }

  .userModalHeader h2 {
    font-size: 16px;
  }

  .userModalHeader a {
    font-size: 16px;
  }

  .closeModal {
    font-size: 22px;
  }

  .closeModal:hover {
    color: red;
  }

  .userServiceAccount {
    gap: 10px;
    padding: 10px;
  }

  .userServiceAccount a {
    font-size: 16px;
  }

  .userServiceAccount a:hover {
    color: #0770cf;
  }

  .signOutLink button {
    font-size: 16px;
  }
}

