.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0px;
  background: #eee;
  gap: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #fff;
}

.cartHeader h2 {
  color: #353434;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cartHeader button {
  padding: 12px 15px;
  cursor: pointer;
  color: #353434;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: 0;
  text-transform: uppercase;
}

.cartHeader button:hover {
  background: #353434;
  color: #fff;
}

.viewAllSavedItems  {
  background: #353434;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.noItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background: #eee;
  gap: 20px;
}

.noItems h3 {
  color: #000;
  font-family: Overlock;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.noItems a {
  background: #353434;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
