.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0px;
  background: #eee;
  gap: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #fff;
}

.cartHeader h2 {
  color: #353434;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cartHeader button {
  padding: 12px 15px;
  cursor: pointer;
  color: #353434;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: 0;
  text-transform: uppercase;
}

.cartHeader button:hover {
  background: #353434;
  color: #fff;
}

.cartItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  padding: 20px 30px;
}

.cartItem img {
  max-height: 200px;
  background: #eee;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.cartItemDetails h2 {
  color: #bb834c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.cartItemDetails h1 {
  color: #000;
  font-family: Overlock;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.aboutItem {
  display: flex;
  gap: 25px;
}

.aboutItem h3 {
  color: #000;
  font-family: Overlock;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 10px;
}

.aboutItem h3 span {
  color: #a29696;
  font-size: 17px;
  text-transform: capitalize;
}

.saveForLater {
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  font-family: Overlock;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cartItemQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cartItemQuantity button {
  padding: 5px;
  border: 0;
  background: none;
  cursor: pointer;
  background: #eee;
  font-size: 16px;
  width: 30px;
}

.saveForLater .favorite {
  background: #fff;
  width: 20px;
}

.saveForLater:hover {
  background: #bb834c;
  color: #fff;
}

.saveForLater:hover .favorite {
  background: #bb834c;
  color: #fff;
}

.deleteItem {
  padding: 5px;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.deleteItem img {
  width: 20px;
  background: #fff;
}

.viewAllSavedItems {
  background: #353434;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.cartTotal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px 30px;
  width: 24%;
}

.cartTotal h1 {
  color: #000;
  font-family: Overlock;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cartTotal h3 {
  color: #000;
  font-family: Overlock;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cartTotal h3 span {
  color: #a29696;
  font-size: 17px;
}

.cartTotal button {
  background: #018849;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.payment {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.payment h4 {
  color: #000;
  font-family: Overlock;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.imgCards {
  display: flex;
  justify-content: space-between;
  background: #ddd;
  gap: 15px;
  padding: 5px;
}

.imgCards img {
  width: 48px;
}

.cartTotal button:hover {
  background-color: #006637;
}

.noItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background: #eee;
  gap: 20px;
}

.noItems h3 {
  color: #000;
  font-family: Overlock;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.noItems button {
  background: #353434;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: 10px;
  cursor: pointer;
}
