.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;
  gap: 12px;
}

.start h1 {
  color: #000;
  font-family: League Spartan;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.startDescr {
  display: flex;
  align-items: center;
  gap: 9px;
}

.startDescr img {
  height: 14px;
}

.startDescr h2 {
  color: #000;
  font-family: Overlock;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.lineImg {
  display: flex;
  gap: 712px;
}
