.favorite {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background: #f4eff1; */
  background: rgba(221, 183, 114, 0.2);
}

.favoriteContainer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 26px 80px;
}

.favoriteContainer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.favoriteContainer h1 {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.favoriteContainer h2 {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.favoriteItems {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  row-gap: 30px;
  width: 100%;
}

.noItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  gap: 20px;
  width: 100%;
  background: #f4eff1;
}

.noItems h3 {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #432010;
  padding-bottom: 30px;
}

.noItems a {
  background: #432010;
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.noItems a:hover {
  background: #fff;
  color: #432010;
  transition: 0.5s ease-out;
}

@media screen and (max-width: 1280px) {
  .favoriteContainer {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 991px) {
  .favoriteItems {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .favoriteContainer {
    padding: 20px;
  }

  .favoriteContainer h1 {
    font-size: 22px;
  }

  .favoriteContainer h2 {
    font-size: 13px;
  }

  .noItems h3 {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .noItems a {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .favoriteContainer {
    padding: 10px;
  }

  .noItems h3 {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .noItems a {
    font-size: 12px;
  }
}
