.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  gap: 60px;
}

.favorite h1 {
  padding: 20px 30px;
  color: #353434;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #eee;
  display: flex;
  justify-content: center;
}

.favoriteContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.noItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background: #eee;
  gap: 20px;
}

.noItems h3 {
  color: #000;
  font-family: Overlock;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.noItems a {
  background: #353434;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
