.navMenuSearch {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.navContainer li a {
  color: #432010;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  text-decoration: none;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
}

.searchContainer input {
  display: flex;
  width: 296px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  color: rgba(112, 100, 88, 0.9);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  border-radius: 1px;
  background: rgba(243, 238, 232, 0.815);
  border: 0;
  outline: none;
}

.searchContainer button {
  border: 0;
  cursor: pointer;
  background: rgba(243, 238, 232, 0.815);
}

.searchContainer button:hover {
  background: rgb(66, 27, 9);
  transition: 1s ease-out;
}

.searchIcon {
  padding: 12px 30px;
  font-size: 20px;
  color: #432010;
}

.searchIcon:hover {
  color: rgba(243, 238, 232, 0.815);
}


@media screen and (max-width: 991px) {
  .navMenuSearch {
    display: none;
  }
}