.navContainer {
  padding: 18px;
  display: flex;
  justify-content: space-around;
}

.navContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.navContainer li a {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding-right: 30px;
  border-right: 3px solid #000;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchContainer input {
  display: flex;
  width: 296px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  background: rgba(243, 238, 232, 0.815);
  border: 0;
  color: rgba(112, 100, 88, 0.9);
  font-family: League Spartan;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  outline: none;
}

.searchContainer input::placeholder {
  color: rgba(112, 100, 88, 0.9);
  font-family: League Spartan;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  border: 0;
}

.searchContainer button {
  border: 0;
  cursor: pointer;
}

.searchIcon {
  background: #000;
  padding: 9px 30px;
  font-size: 25px;
  color: #fff;
}