.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filtersContainer select {
  padding: 12px 15px;
  border: 0;
  border-bottom: 1px solid #807d7d;
  border-top: 1px solid #807d7d;
  cursor: pointer;
  color: #666;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}

.listFilter {
  padding: 10px;
  z-index: 1;
  background: #fff;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #000;
  list-style: none;
  color: #666;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

.filtersContainer select:hover {
  border-color: #0770cf;
}


