.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.deliveryAddress {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #fff;
  padding: 20px 30px;
}

.deliveryInfo {
  display: flex;
  gap: 20px;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.about label {
  color: #000;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about input {
  width: 100%;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.city {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.city label {
  color: #000;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.city input {
  width: 100%;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address label {
  color: #000;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.address input {
  width: 100%;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.additionalInfo label {
  color: #000;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.additionalInfo textarea {
  width: 100%;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.paymentMethod {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
}

.paymentMethodContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.paymentMethodContainer select {
  width: 50%;
  padding: 10px;
  color: #000;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paymentMethodContainer select option {
  padding: 10px;
}

.form button {
  background: #018849;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .deliveryInfo {
    flex-direction: column;
  }

  .about {
    width: 100%;
  }

  .about label {
    font-size: 15px;
  }

  .about input {
    padding: 6px;
    font-size: 11px;
  }

  .city label {
    font-size: 15px;
  }

  .city input {
    padding: 6px;
    font-size: 11px;
  }

  .address label {
    font-size: 15px;
  }

  .address input {
    padding: 6px;
    font-size: 11px;
  }

  .additionalInfo label {
    font-size: 15px;
  }

  .additionalInfo textarea {
    padding: 6px;
    font-size: 11px;
  }

  .paymentMethod {
    gap: 0;
  }

  .paymentMethodContainer{
    padding: 20px 30px;
  }

  .paymentMethodContainer select {
    width: 100%;
    padding: 6px;
    font-size: 15px;
  }

  .form button {
    font-size: 15px;
  }
}
