.showOrdersDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.showOrdersDetails h3 {
  color: #00000073;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 30px;
}

.showOrdersDetailsHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  width: 100%;
  background: #fff;
}

.icon {
  font-size: 30px;
}

.showOrdersDetailsHeader h1 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.showOrdersDetailsHeader a {
  display: none;
}

.showOrdersDetailsHeader a:hover {
  background: rgba(27, 11, 4, 1);
  color: #fff;
}

@media screen and (max-width: 991px) {
  .showOrdersDetailsHeader {

  }

  .showOrdersDetailsHeader a {
    display: block;
    border: 1px solid #807d7d;
    padding: 12px 15px;
    cursor: pointer;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    align-self: flex-start;
    text-decoration: none;
    transition: color 1s ease-out;
  }
}

@media screen and (max-width: 479px) {
  .showOrdersDetailsHeader {
    padding: 15px;
  }

  .showOrdersDetailsHeader h1 {
    font-size: 25px;
  }

  .icon {
    font-size: 25px;
  }
}
