.manageUsers {
  display: flex;
  justify-content: center;
  width: 100%;
}

.manageUsersContainer {
  max-width: 1440px;
  width: 100%;
  padding: 26px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.manageUsersHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.manageUsersHeaderTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.manageUsersHeaderTitle h1 {
  color: #432010;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.manageUsersHeaderTitle input {
  padding: 8px 10px;
  font-family: Inter;
  outline: none;
}

.addUserButton {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
}

.addUserButton:hover {
  background-color: #45a049;
}

@media screen and (max-width: 1280px) {
  .manageUsersContainer {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 991px) {
  .manageUsersContainer {
    padding: 26px 50px;
  }
}

@media screen and (max-width: 768px) {
  .manageUsersContainer {
    padding: 26px 20px;
  }

  .manageUsersHeaderTitle h1 {
    font-size: 20px;
  }
  
  .manageUsersHeaderTitle input {
    padding: 5px;
  }
  
  .addUserButton {
    padding: 5px 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .manageUsersContainer {
    padding: 12px 10px;
  }
}
