.filters {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  background-color: rgb(238, 238, 238);
  padding: 30px 0;
}

.filtersContainer button {
  border: 1px solid #807d7d;
  padding: 12px 15px;
  cursor: pointer;
  color: #666;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.filtersContainer button:hover {
  border-color: #0770cf;
  color: #0770cf;
}

